@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="text"></div>
<script>console.log("Without nonce");</script>
<script>console.log("Without nonce2");</script>
<script nonce="@ViewBag.Nonce">console.log("With nonce");</script>
<a href="javascript:alert(10)">LINK</a>